body{
    height: fit-content;
}
#image-container{
    margin: 40vh auto 0 auto;
    height: 300px;
    width: 80vw;
    border-top: 1px solid thistle;
    border-bottom: 1px solid thistle;
}
#image-container img{
    height: 300px;
    position: absolute;
}