body{
	background-color: #343434;
}
.item{
	width: 400px;
	height: 250px;
	background-color: #16b7b7;
	margin: 300px auto;
	position: relative;
}
.item::after{
	content: "";
	position: absolute;
	padding: 250px 400px 0 0;
	background-color: red;
}
.item:hover::after{
	transform: translate(8px, -7px);
	transition: ease-in 75ms;
}